body {
    background: radial-gradient(#05265b, #000) !important;

    span:not(pre span),
    p,
    td,
    h2,
    h4,
    h5,
    button {
        color: #ddd !important;
    }

    .opblock-section-header,

    .opblock-section-header {
        background: transparent !important;
    }

    .scheme-container {
        background: transparent !important;
    }
}